.top{
  float: left;
  margin-left: 10%;
  height: 120px;
  margin-bottom: 0.8%;
}
.top2{

  margin-left:22%;
  padding-top: 0%;
  padding-bottom: 1%;
  height:

}
.header{
  height: 10px;

}

nav{
  width: 100%;
}
.nav-item{
  padding-left: 4%;

}
.navbar-brand{
  margin-top: 0%;
}

.flex-grow-1{
  margin-right: 16%;
}
.navbar{
  background-color:#6af782;
}
.left{
  float: left;
  padding: 2%;
}
.middle{
  text-align: center;

}
.card{
  width:100%;
  height:350px;
  width: 280px;
}
.onn{
  margin-left: 12%;
  margin-right: 10%;
  width:80%;
}
.round{
  border-radius: 50%;
}
.middle2{
  text-align: center;
}
.container2{
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
}

.footer{
  float: left;
  width: 100%;
  height: 80%;
}
