.middle3{
  text-align: center;
  padding-top: 2%;
}
.left{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  margin-left: 20%;
  margin-right: 20%;
}
.float{
  float: left;
  padding-left: 12%;
  width: 50%;
  margin-bottom: 5%;
  margin-top: 4%;
}
.line{
  float: left;
  width: 30%;
  margin-right: 20%;
  margin-top: 9%;
  margin-bottom: 5%;
  font-size: 22px;
}
.float2{
  float: right;
  width: 50%;
  padding-top: 6%;
}
.line2{
  float: left;
  width: 40%;
  margin-left: 9%;
  margin-top: 2%;
  font-size: 22px;

}
img {
  border-radius: 8px;
}
.float3{
  float: left;
  width: 50%;
  margin-bottom: 5%;
  margin-top: 10%

}
.line3{
  float: left;
  width: 30%;
  margin-right: 20%;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 22px;
}
#leftbox{
  float: left;
  width: 30%;
  margin-left: 7%;
}
#rightbox{
  float: left;
  width: 40%;
  margin-left: 3%;
  font-size: 22px;
}
.footer{
  float: left;
  margin-top: 2%;
}
